@import '@fontsource/fira-mono';


:root {

	--background: #6C999D;
	--background-dark: #111111;
	--color-text: #0Е1926;
	--text-dark: #EDE6F2;

}

body{
	background: #6C999D
}


nav{
	background: #EDE6F2 ;
}

header{
	background: #EDE6F2;
}
li:hover{
	font-size: 20px;
	background-color: #777777;
	color: whitesmoke;
	border-radius: 15px;
}


